{% extends "base.html" %}
{% block content %}
<div class="container text-light">
    <section>
        <div class="display-1 text-center"> {{current_user.username}} </div>

        <div class="mx-auto my-3 col-sm-10 col-lg-8 mx-auto bg-dark py-3 rounded-lg">
            <form method="POST">
                {{form.hidden_tag()}}
                <legend class="display-4 text-center border-bottom py-3">Add new post</legend>

                <div class="form-group w-50 mx-auto py-3">
                    {{form.topic(class="form-control", placeholder="Topic")}}
                </div>

                <div class="form-group">
                    {{form.content(class="form-control")}}
                </div>

                <div class="form-group ">
                    {{form.submit(class="btn btn-lg btn-info")}}
                </div>

            </form>
    </section>

    <section class="mx-auto my-3 col-12 border bg-dark">
        {% for post in posts%}
        <article class="mt-3 mx-auto border-bottom">
            <header class="text-center h5">
                {{ post.topic }}
            </header>
            <p class="px-3 pt-3">{{ post.content }}</p>
            <footer class="p-1">
                <div class = "inline"><a href="{{url_for('delete_post', post_id=post.id )}}" class = "danger"> DELTE</a></div>
                <div class="inline">Date: {{post.date_posted}} </div>
            </footer>
        </article>
        {% endfor %}
    </section>
</div>
{% endblock %}