{% extends  "base.html" %}

{% block content %}

<div class="container">
    <div class="col-md-10 col-lg-7 p-3 mx-auto bg-light mt-5 text-center">

        <form method="POST">
            {{form.hidden_tag()}}
            <fieldset>
                <legend class="display-4">Register</legend>
                <div class="form-group border-top pt-3">
                    {{form.email.label(class="h5")}}
                    {{form.email(class="form-control")}}
                </div>

                <div class="form-group">
                    {{form.username.label(class="h5")}}
                    {{form.username(class="form-control")}}
                </div>

                <div class="form-group">
                    {{form.password.label(class="h5")}}
                    {{form.password(class="form-control")}}
                </div>

                <div class="form-group">
                    {{form.confirm_password.label(class="h5")}}
                    {{form.confirm_password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.submit(class="btn btn-success btn-lg")}}
                </div>
                <div class="form-group">
                    {{form.rules(class="check-input")}}
                    <a class="text-info text-weight-light check-label" href="{{url_for('rules')}}">I know Rules</a>
                </div>
                
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}