{% extends  "base.html" %}

{% block content %}

<div class="container">
    <div class="col-md-10 col-lg-7 p-3 mx-auto bg-light mt-5">

        <form method="POST" , style="text-align: center;">
            <fieldset>
                <legend class="display-4">Sign in!</legend>

                <div class="form-group border-top pt-3">
                    {{register.email.label(class="h5")}}
                    {{register.email(class="form-control")}}
                </div>

                <div class="form-group">
                    {{register.username.label(class="h5")}}
                    {{register.username(class="form-control")}}
                </div>

                <div class="form-group">
                    {{register.password.label(class="h5")}}
                    {{register.password(class="form-control")}}
                </div>

                <div class="form-group">
                    {{register.confirm_password.label(class="h5")}}
                    {{register.confirm_password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{register.submit(class="btn btn-success")}}
                </div>
        </form>
        </fieldset>
    </div>
</div>

{% endblock %}