<!DOCTYPE html>
<html lang="PL">

<head>
	<meta charset="utf-8">
	{% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Test Blog</title>
    {% endif %}
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" type="image/x-icon" href=""/>
</head>

<body>
	<header></header>
	<main>{% block content %}{% block content %}</main>
	<footer></footer>
	
</body>

</html>
